* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	display: grid;
	align-items: center;
	justify-content: center;
	z-index: 99998;
}

.modal__box {
display: grid;
grid-template-columns:2fr 2fr;
max-width: 1200px;
max-height: 700px;
z-index: 1;
background-color: #000000;
border: 5px solid #a72db0;
border-radius: 5%;
box-shadow: 2px 3px 15px 10px #a72db0;
}


img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: 550px;
	margin: 20px 5px 20px 15px;
	border-radius: 50%;
	transition: all 2s ease;
}

img:hover {
	border-radius: 10%;
	transition: all 2s ease;
	width:700px;
	height: 550px;
}

.photo__text {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 15px;
	padding: 10px;
	color: #ffffff;
	position: relative;
}

.text__title {
	background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: 20px 5px 20px 5px;
	font-style: italic;
}

.text__subtitle {
	text-align: left;
	padding: 5px; 
	opacity: 90%;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #000000;
	}
}